astropy==7.2.0
astropy-iers-data==0.2026.4.6.0.54.57
cffi==2.0.0
contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
joblib==1.5.3
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
pycparser==3.0
pyerfa==2.0.1.5
pyglet==2.1.14
pyparsing==3.3.2
PyPrind==2.11.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
threadpoolctl==3.6.0
