astropy==7.2.0
astropy-iers-data==0.2026.1.12.0.42.13
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
joblib==1.5.3
kiwisolver==1.4.9
matplotlib==3.10.8
mlxtend==0.24.0
nltk==3.9.2
numpy==2.4.1
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.3
pillow==12.1.0
pyerfa==2.0.1.5
pyparsing==3.3.1
PyPrind==2.11.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.11.3
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.3
